body {
	font-family:' Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family:' Note Sans TC', sans-serif;
}

.subheading{
	font-family:' Note Sans TC', sans-serif;
}

body{
<span style="text-transform:capitalize;">
}
