body {
    font-family: Note Sans TC, sans-serif;
}

h1 {
    font-family: Note Sans TC, sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: Note Sans TC, sans-serif;
	text-transform: none;
}

.subheading{
	font-family: Note Sans TC, sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	letter-spacing: -0.05rem;
}

.text-primary {
	font-size: 3rem;
	line-height: 3rem;
	letter-spacing: -0.05rem;
}

.bg-primary {
	background-color: #4399a8!important;
	background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}

.text-primary {
	color: #4399a8!important;
}
