body {
    font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	letter-spacing: -0.05rem;
}

h1 .text-primary {
	font-size: 3rem;
	letter-spacing: -0.05rem;
	line-height: 3rem;
}

.bg-primary {
	background-color: #4399a8!important;
	background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}

.text-primary {
	color: #4399a8!important;
}

#sideNav .navbar-nav .nav-item .nav-link {
	text-transform: none;
}

div {
	color:#191970;
}

body {
	background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}

td {
	border-bottom:1px solid #3f294a;
	border:3px solid #191970;
}

th, td {
	text-align: center;
}

.mdfk{
	display:flex:
	flex-direction: row;
}
